{% extends "base.html" %}

{% block title %}Movies{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<section class="page-section" id="portfolio" style="padding-top: 85px; padding-left:10px;width: 1430px;">

<!--       <div class="row mt-2 pt-1 pr-1 h-50" style="background: #012758;">-->

        <table align="center" style="color:#ffffff; background-color:#001a4d;width: 500px;padding-left:100px;">
            <tr> <td><h1><span style="color:#ffffff;padding-left:10px;"><u> CrowdFilms</u></span></h1></td></tr>
            <tr>
                <td>
                    <ul style="list-style-type:none;">
                        <li>Genres:</li>
                        <li>Duration:</li>
                        <li>Company:</li>
                        <li>Released date:</li>
                        <li>Country:</li>
                    </ul>
                </td>
                <td>
                    <ul style="list-style-type:none;color: #ffffff;">
                        <li><i><b>Team Project</b></i></li>
                        <li><i><b>1 month</b></i></li>
                        <li><i><b>ACA</b></i></li>
                        <li><i><b>2019</b></i></li>
                        <li><i><b>Armenia</b></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none;color: #ffffff;">
                        <li> Director</li>
                        <li> Writer</li>
                    </ul>
                </td>
                <td>
                    <ul style="list-style-type:none;color: #ffffff;">
                        <li>Manukyan Ruben </li>
                        <li> Poghosyan Vladimir</li>
                    </ul>
                </td>
            </tr>
            <tr><td>
            <dl style="color: #ffffff;">
                <dt style="font-size:20px;padding:20px;"><u>Cast</u></dt>
                <dd style="padding-left:50px;">Abrahamyan Meline</dd>
                <dd style="padding-left:50px;">Avagyan Gohar</dd>
                <dd style="padding-left:50px;">Gevorgyan Armen</dd>
                <dd style="padding-left:50px;">Danielyan Anna</dd>
                <dd style="padding-left:50px;">Kalashyan Samvel</dd>
                <dd style="padding-left:50px;">Martirosyan Anna</dd>
                <dd style="padding-left:50px;">Nersisyan Hayk</dd>
                <dd style="padding-left:50px;">Yegiazaryan Levon</dd>
            </dl></td></tr>
        </table>

<!--      </div>-->
</section>

{% endblock content %}

