{% extends "base.html" %}
{% block title %}Movies{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}

<!-- Order By block -->
<div class="row mt-5 pt-4 pr-2 h-50" style="background: #001a4d;" >
  <div class="dropdown portfolio-item pt-4 h-50" >
    <button onclick="myFunction()" class="dropbtn pt-4" style="color: #ffffff;background: transparent;"><b>Order By</b></button>
    <div id="myDropdown" class="dropdown-content" style="width: 100px;">
      <a style="color: #fec503;" href="/m_order_by/date_year">Realise Date</a>
      <a style="color: #fec503;" href="/m_order_by/user_score">User Score</a>
      <a style="color: #fec503;" href="/m_order_by/user_reviews">User Reviews</a>
    </div>
  </div>

{% block search %}
<!-- Search block -->
<div class="col-md-2 offset-md-4 border-success h-50">
  <div class="input-group mb-1">
    <div class="w3-padding w3-xlarge"></div>
    <form style="padding-top: 50px">
      <input name='query' class="form-control" placeholder=" &#9711; Keywords ...... " value='{{ query }}'/>
      <input type=submit value="Search" />
    </form>
  </div>
</div>
{% endblock search %}
  </div>
</div>

<!-- Portfolio -->
<section class="page-section" id="portfolio" style="padding-top: 20px; padding-left:150px;width: 1250px;">
  <div class="bg-light container">
    <div class="row py-4">
    {% for movie in movies %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <div class="dropdown">
                  <!-- <button class="dropbtn">Preview</button> -->
                  <div class="dropdown-content" style="width: 300px;">
                    {% if movie.summary != None %}
                      <h6>Summary:</h6>
                      <p class="dropdown-content" style="width: 250px;">{{ movie.summary }}</p>
                    {% endif %}
                  </div>
                </div>              
            </div>
          </div>
          {% if movie.image != None%}
            <img class="img-fluid" src="{{ movie.image }}" alt="">
          {% else %}
            <img class="img-fluid" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/medium/film-3385785534._CB483214317_.png" width="182" height="268" alt="">
          {% endif %}
        </a>

        <div class="portfolio-caption">
          <h4><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></h4>
        </div>
      </div>
    {% endfor %}


<!-- Pagination -->

    <div class="justify-content-md-center" id="page1" align="center" style="padding-left:450px;">
        {% if query == '' %}
          {% if page != 1 %}
          <a href='?page={{ page -1 }}&query={{query}}'> << </a>
          {% endif %}
            {% if (page >= (number + 1)//2 + 1) %}
              <a href="?page=1&query={{query}}">1</a>
              <span>
                  ...
              </span>
              {% if page < page_count - number//2 %}
                  {% for page_num in range(page + 1 - (number + 1)//2, page + number + 1 - (number + 1)//2 )%}
                      {% if page_num == page %}
                          <span>
                          {{ page_num }}
                              </span>
                      {% else %}
                          <a href='?page={{ page_num }}&query={{query}}'>{{ page_num }}</a>
                      {% endif %}
                  {% endfor %}
                  <span>
                  ...
                  </span>
                  <a href='?page={{ page_count }}&query={{query}}' >{{ page_count }}</a>
              {% else %}
                  {% for page_num in range(page_count - number + 1, page_count + 1) %}
                      {% if page_num == page %}
                          <span >
                              {{ page_num }}
                              </span>
                      {% else %}
                          <a href='?page={{ page_num }}&query={{query}}'>{{ page_num }}</a>
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% else %}
              {% for page_num in range(1, number + 1) %}
                  {% if page_num == page %}
                      <span >
                          {{ page_num }}
                              </span>
                  {% else %}
                      <a href='?page={{ page_num }}&query={{query}}'>{{ page_num }}</a>
                  {% endif %}
              {% endfor %}
              <span>
              ...
              </span>
              <a href='?page={{ page_count }}&query={{query}}'>{{ page_count }}</a>
          {% endif %}
          {% if page != page_count %}
              <a href='?page={{ page + 1 }}&query={{query}}' > >> </a>
          {% endif %}
      {% else %}
          {% for page_num in range(1, page_count) %}
              {% if page_num == page %}
        <span >{{ page_num }}</span>
              {% else %}
                  <a href='?page={{ page_num }}&query={{ query }}'>{{ page_num }}</a>
              {% endif %}
          {% endfor %}
      {% endif %}
    </div>
   </div>
  </div>
 </section>
{% endblock content %}
